.toolbar {
    position: absolute;
    bottom: 0;
    left: 30vw;
    height: 10vh;
    width: 40vw;
    background-color: white;
    z-index: 1000;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid #c1c1c1;
    border-radius: 10px;
    transition: .5s ease;
    transform: translate(0,9vh);
    transition-delay: 2s;

}
.toolbar:hover{
    transform: translate(0,0);
    transition-delay: 0s;
}
.toolbar .bar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
#penbar .fas{
    transform: translate(0,3vh);
}
.tool{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 15%;
    font-size: 5vh;
    color: #5a5a5a;
}
.tool .round{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 100%;
}
.tool *{
    transition: .2s ease;
}

.tool:hover .penbar-icon{
    transform: translate(0,1vh);
}
.tool:hover .check{
    transform: scale(1.5);
}
.penbar-icon{
    transform: translate(0vh,2vh);
    height: 90%;
}
.check{
    transform: scale(1);
}
.selected{

}
.selected:hover{
    transform: none;
}


#pen:hover .fa-pen{
    transform: rotate(-25deg);
}
#text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#text div{
    width: 1px;
    height: 5vh;
    background-color: black;
}
#text:hover div{
    animation: cursorblink .5s linear infinite;
}
#image:hover i{
    animation: done .9s ease infinite;
}
.clear{
    animation: delete .3s ease infinite;
}
#shapes:hover{
    animation: rotate 1s ease infinite;
}
@keyframes cursorblink {
    from{
        background-color: transparent;
    }
    to{
        background-color: black;
    }
}
@keyframes rotate {
    to{
        transform: rotate(360deg);
    }
}
@keyframes done {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes delete {
    0% {
        /*transform: translateX(20px);*/
    }

    25% {
        transform: rotate(-1deg);
    }
    50% {
        transform: rotate(2deg);

    }
    75% {
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

#penbar{
    display: none;
    /*overflow: hidden;*/
    /*background: rgb(255,0,236);*/
    /*background: linear-gradient(196deg, rgba(255,0,236,1) 0%, rgba(120,0,255,1) 100%);*/
}
#defbar{
    /*display: none;*/
}
#strokebarPenOne{
    display: none;
}
#strokebarPenTwo{
    display: none;
}
#shapebar{
    display: none;
}
#eraserbar{
    display: none;
}
.strokeslider{
    width: 50%;
}
.stroke{
    width: 100%;
}