@import url(Dock.css);
@import url(multipage.css);
@import url(side-btn.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    color: white;
    overflow: hidden;
    background-color: #333333;
}

#canvas-switch {
    position: absolute;
    left: 50vw;
    top:0;
    height: 1vh;
}

#fileinput{
    display: none;
}
