* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}


/* .body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

#canvas {
    border: 2px black solid;
}

.toolbar {
    position: absolute;
    bottom: 0;
    left: 35vw;
    height: 10vh;
    width: 30vw;
    background-color: black;
    z-index: 1000;
}

#canvas-switch {
    position: absolute;
    margin-top: 10px;
    left: 35vw;
    height: 10vh;
}

#undo,
#redo {
    padding: 1vh;
    width: 15vw;
}

#boards {
    position: absolute;
    left: 0;
    height: 100vh;
    width: 15vw;
    background-color: gray;
    overflow-y: scroll;
}
.board{
    margin: 40px;
}